body {
    background-color: rgb(41, 45, 62);
}

.metronome {
    transition: all .3s;
    background-color: #8bd2d2;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 275px;
    max-width: 375px;
    margin: 50px auto;
    padding: 50px;
  }

  .controls {
      font-weight: 600;
      font-size: large;
  }

  .controls > label {
      display: block;
  }

  .controls > input {
    margin-bottom: 10px;
  }

  input.measure {
      text-align: center;
    border: 1px solid rgb(41, 45, 62);
	padding: 5px 0px;
    width: 100%;
}
  
  .bpm-slider input {
    /* padding: 5px; */
    width: 100%;
    color: rgb(41, 45, 62);

  }

  .knob {
      display: block;
      margin: 0 auto;
      transition: all .5s;
      height: 80%;
      width: 80%;
  }
  
  .metronome button {
    background: #404042;
    padding: 10px;
    border: 10px solid black;
    border-radius: 300px;
    width: 200px;
    height: 200px;
    color: #fff;
    font-size: 58px;
    margin: 20px;
    
  }